name: Dependency Submission

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6
      - name: Set up gradle with generate and submit
        uses: gradle/actions/setup-gradle@v5
        with:
          dependency-graph: generate-and-submit
      - name: Build gradle (dependency-graph will be generated and submitted post-job)
        run: ./gradlew build -x :test
        env:
          ORG_GRADLE_PROJECT_githubPassword: ${{ secrets.GITHUB_TOKEN }}
